* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62,5%;
}
:root {
    --colorVerde1: greenyellow;
    --colorCelesteCielo: #00AAE4;
    --colorVerdePaisaje: #305e05;
    --colorAmarilloRayoDeSol: #fde400;
}
header {
    background: var(--colorVerde1);
    height: 60px;
    width: 100%;
    display: flex;
    flex: wrap;
    /*encaso de que algo no funcione como quiero puedes cambiarle flex a flex-wrap: wrap; */
    justify-content: space-between;
    background: transparent;
    color: whitesmoke;
    /*voy a dejar el header fijo en la pantalla*/
    position: fixed;
    top: 0;
}
.logo_container {
    font-size: 3rem;
}

.profile_container img {
    height: 60px;
}
.profile_container {
    margin-right: 4px;
    margin-top: 4px;
}
.profile_container p {
    display: none;
}
main {

}
.helloBackgroundImage {
    background-image: url('../imagenes/pictures/selva-en-el-lindo-atardecer-salvar-paisaje.jpg');
    height: 750px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 0px;
}
li {
    display: none;
}
.willContainer {
    text-align: center;
    position: static;
    padding-top: 125px;
}
.willContainer h1 {
    color: white;
    font-size: 2rem;
}
.vendemos {
    color: var(--colorVerdePaisaje);
}
.button {
    border: 1px solid var(--colorVerdePaisaje);
    border-radius: 25px;
    padding: 4px;
    background-color: var(--colorAmarilloRayoDeSol);
    font-size: 1.6rem;
}
.willContainer p {
    margin: 50px;
    color: var(--colorAmarilloRayoDeSol);
    font-size: 1.6rem;
}